__pycache__/
*.py[cod]
*.egg-info/
.coverage
.coverage.*
coverage.xml
.doit.db*
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
build/
dist/
docs/_build/
htmlcov/
pip-wheel-metadata/
src/nardy/i18n/locale/**/*.mo
